doctype html
html
   head
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      title COD3 (JOBS)
      link(rel='stylesheet' href='../styles/favorites.css')
      link(rel='stylesheet' href='../styles/normalize.css')
      link(rel='shortcut icon' href='../assets/images/favicon.png' type='image/x-icon')
      script(src='https://kit.fontawesome.com/f408539d77.js' crossorigin='anonymous')
   body#body
      div#gif
         img#loadingId(src='../assets/images/gifCodeJobs.gif' alt='imgGif')
      
      header#header
         a(href='./home_admin')
          img#logotipo.logotipoSuperior(src='../assets/images/logotipo_final_black.png' alt='logotipoHome')
         
         nav#headerMenu.menuPrincipal
            ul#pcMenu.menuPc
               li
                  a(href='./profile_admin') Tu cuenta
               li
                  a(href='./dashboard')#favoritesColor Crear o eliminar
               li
                a(href='./logout') Salir

      form(action="/dashboard" method="post")
         label(for="titulo") Título:
         input(type="text" name="titulo" placeholder="Aplicación web" id="input_titulo")
         label(for="precio") Precio:
         input(type="number" name="precio" placeholder="Crear pagina web con node.js, express..." id="input_precio")  
         label(for="descripcion") Descripción:
         input(type="text" name="descripcion" placeholder="Crear pagina web con node.js, express..." id="input_descripcion")  
         label(for="url") Enlace:
         input(type="text" name="url"  placeholder="https://example.com" id="input_url") 
         button(id="botonCreador") Crear

               
   footer#footer.footerMenu
      nav#footerMenu.menuInferior
         ul#menuMovil.menuResponsive
            li
               a(href='./')
                  <i class="fas fa-home" id="iconHome"></i>
            li
               a(href='./profile')
                  <i class="fas fa-user" id="iconUser"></i>
            li
               a(href='./favorites')
                  <i class="fas fa-heart" id="iconFavorites"></i>
            li
               a(href='./logout')
                  <i class="fas fa-sign-out-alt" id="iconLogOut"></i>



   