doctype html
html
   head
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      title COD3 (JOBS)
      link(rel='stylesheet' href='../styles/dashboard_admin.css')
      link(rel='stylesheet' href='../styles/normalize.css')
      link(rel='shortcut icon' href='../assets/images/favicon.png' type='image/x-icon')
      script(src='https://kit.fontawesome.com/f408539d77.js' crossorigin='anonymous')

   body#body

      header#header
         a(href='./home_admin')
          img#logotipo.logotipoSuperior(src='../assets/images/logotipo_final_black.png' alt='logotipoHome')
         
         nav#headerMenu.menuPrincipal
            ul#pcMenu.menuPc
               li
                  a(href='./dashboard_admin')#dashboardColor Crear o eliminar
               li
                  a(href='./profile_admin') Tu cuenta
               li
                  a(href='./logout') Salir   

   div#containAdminDashboard
      form#yourDashboard(action="/dashboard" method="post")
         h3 Crea y elimina los anuncios que desees
         label.information(for="titulo") Título:
         input.inputOptions(type="text" name="titulo" placeholder="Aplicación web" id="input_titulo")
         label.information(for="precio") Precio:
         input.inputOptions(type="number" name="precio" placeholder="Crear pagina web con node.js, express..." id="input_precio")  
         label.information(for="descripcion") Descripción:
         input.inputOptions(type="text" name="descripcion" placeholder="Crear pagina web con node.js, express..." id="input_descripcion")  
         label.information(for="url") Enlace:
         input.inputOptions(type="text" name="url"  placeholder="https://example.com" id="input_url") 
         div#divButtons
            button#deleteButton.adminButtons Eliminar
            button.adminButtons(id="botonCreador") Crear
            
      div#divIllustration
         img#adminImage(src='../assets/images/admin_illustration.png' alt='adminImg')
         
   footer#footer.footerMenu
      nav#footerMenu.menuInferior
        ul#menuMovil.menuResponsive
            li
               a(href='./')
                  img#iconHome(src='../assets/images/home.png' alt="home")
            li
               a(href='./profile')
                  img#iconUser(src='../assets/images/profile.png' alt="profile")
            li
               a(href='./favorites')
                  img#iconFavorites(src='../assets/images/favorite.png' alt="favorite")
            li
               a(href='./logout')
                  img#iconLogOut(src='../assets/images/logout.png' alt="logout")



   