doctype html
head
   meta(charset='UTF-8')
   meta(http-equiv='X-UA-Compatible' content='IE=edge')
   meta(name='viewport' content='width=device-width, initial-scale=1.0')
   title COD3 (JOBS)
   link(rel='stylesheet' href='../styles/home.css')
   link(rel='stylesheet' href='../styles/normalize.css')
   link(rel='shortcut icon' href='../assets/images/favicon.png' type='image/x-icon')   
   script(src='https://kit.fontawesome.com/f408539d77.js' crossorigin='anonymous')

body#idBody

   header#header
      a(href='./home_login')
         img#logotipo.logotipoSuperior(src='../assets/images/logotipo_final_black.png' alt='logotipoHome')
      nav#headerMenu.menuPrincipal
         ul#pcMenu.menuPc
            li
               a(href='./profile') Tu cuenta
            li
               a(href='./favorites') Favoritos
            li
               a(href='./logout') Salir

   div#searchDiv.searcherDiv
      input.whatSearch(type='text', name='name', placeholder='Busca ofertas de...',  id="buscadorOferta")  
      img.iconLupa#botonBuscador(src="../assets/images/lupa.png", alt="lupa")

   div#menuSecundario.menuIntermedio
      ul#menuProfesiones.profesionesMenu
         li
            div.layer#fullStack
               p Full Stack
               img.circuloRosa(src='../assets/images/circulo_degradado.png' alt="circuloRosa")
         li
            div.layer#ciber
               p Ciber
               img.circuloRosa(src='../assets/images/circulo_degradado.png' alt="circuloRosa")
         li
            div.layer#marketing
               p Marketing
               img.circuloRosa(src='../assets/images/circulo_degradado.png' alt="circuloRosa")
         li
            div.layer#uxUi
               p UX/UI
               img.circuloRosa(src='../assets/images/circulo_degradado.png' alt="circuloRosa")
         li
            div.layer#data
               p Data
               img.circuloRosa(src='../assets/images/circulo_degradado.png' alt="circuloRosa")
         li
            div.layer#designer
               p Designer
               img.circuloRosa(src='../assets/images/circulo_degradado.png' alt="circuloRosa")
         li
            div.layer#frontend
               p FrontEnd
               img.circuloRosa(src='../assets/images/circulo_degradado.png' alt="circuloRosa")
         li
            div.layer#backend 
               p BackEnd
               img.circuloRosa(src='../assets/images/circulo_degradado.png' alt="circuloRosa")

   div#loadingOffers

   section#cartaOferta

   footer#footer.footerMenu
      nav#footerMenu.menuInferior
        ul#menuMovil.menuResponsive
            li
               a(href='./home_login')
                  img#iconHome(src='../assets/images/home.png' alt="home")
            li
               a(href='./profile')
                  img#iconUser(src='../assets/images/profile.png' alt="profile")
            li
               a(href='./favorites')
                  img#iconFavorites(src='../assets/images/favorite.png' alt="favorite")
            li
               a(href='./logout')
                  img#iconLogOut(src='../assets/images/logout.png' alt="logout")

   script(src='scripts/iconos.js')
   script(src='scripts/creacionDOM.js')
   script(src='scripts/pintarOferta.js')