doctype html
html
   head
      title HOME
   body
     nav 
      ul 
       a(href="/")
        li   Inicio 
       a(href="login")
        li  Inicia sesión 
       a(href="register") 
        li  Registrate 
     
     form(action='/', method="POST") 
        input(type='text', name='busqueda', placeholder='¡Busca tu proyecto!')
        br
        br
        input(type='submit', value='Buscar')

