doctype html
head
   meta(charset='UTF-8')
   meta(http-equiv='X-UA-Compatible' content='IE=edge')
   meta(name='viewport' content='width=device-width, initial-scale=1.0')
   title COD3 (JOBS)
   link(rel='stylesheet' href='../styles/home.css')
   link(rel='stylesheet' href='../styles/normalize.css')
   link(rel='shortcut icon' href='../assets/images/favicon.png' type='image/x-icon')
   script(src='https://kit.fontawesome.com/f408539d77.js' crossorigin='anonymous')
body#body
   div#gif
      img#loadingId(src='../assets/images/gifCodeJobs.gif' alt='imgGif')
   header#header
      a(href='./')
       img#logotipo.logotipoSuperior(src='../assets/images/logotipo_final_black.png' alt='logotipoHome')
      nav#headerMenu.menuPrincipal
         ul#pcMenu.menuPc
            li
               a(href='./register') Registrate
            li
               a(href='./login') Inicia Sesión
   
   form(action="/" method="POST")
      input(type='text', name='name', placeholder='Ej: Javascript', id="buscadorOferta")  
      input(type='button', value='Buscar', id="botonBusquedaOferta") 

   
   footer#footer.footerMenu
      nav#footerMenu.menuInferior
         ul#menuMovil.menuResponsive
            li
               <i class="fas fa-home" id="iconHome"></i>
               a(href='./')
            li
               <i class="fas fa-user" id="iconUser"></i>
               a(href='./profile')
            li
               <i class="fas fa-heart" id="iconFavorites"></i>
               a(href='./favorites')
            li
               <i class="fas fa-sign-out-alt" id="iconLogOut"></i>
               a(href='./logout')