doctype html
head
   meta(charset='UTF-8')
   meta(http-equiv='X-UA-Compatible' content='IE=edge')
   meta(name='viewport' content='width=device-width, initial-scale=1.0')
   title COD3 (JOBS)
   link(rel='stylesheet' href='../styles/home.css')
   link(rel='stylesheet' href='../styles/normalize.css')
   link(rel='shortcut icon' href='../assets/images/favicon.png' type='image/x-icon')
   script(src='https://kit.fontawesome.com/f408539d77.js' crossorigin='anonymous')

body#body
   div#gif
      img#loadingId(src='../assets/images/gifCodeJobs.gif' alt='imgGif')

   header#header
      a(href='./')
       img#logotipo.logotipoSuperior(src='../assets/images/logotipo_final_black.png' alt='logotipoHome')
      nav#headerMenu.menuPrincipal
         ul#pcMenu.menuPc
            li
               a(href='./register') Registrarse
            li
               a(href='./login') Iniciar sesión

   div.searcherDiv
      input.whatSearch(type='text', name='name', placeholder='Busca ofertas de...',  id="buscadorOferta")  
      button.iconLupa(type="button", class="fas fa-search")

   div#menuSecundario.menuIntermedio
      ul#menuProfesiones.profesionesMenu
         li.layer
            p Full Stack
            img.circuloRosa(src='../assets/images/circulo_degradado.png' alt="circuloRosa")
         li.layer
            p Ciber
            img.circuloRosa(src='../assets/images/circulo_degradado.png' alt="circuloRosa")
         li.layer
            p Marketing
            img.circuloRosa(src='../assets/images/circulo_degradado.png' alt="circuloRosa")
         li.layer
            p UX/UI
            img.circuloRosa(src='../assets/images/circulo_degradado.png' alt="circuloRosa")
         li.layer
            p Data
            img.circuloRosa(src='../assets/images/circulo_degradado.png' alt="circuloRosa")
         li.layer
            p Designer
            img.circuloRosa(src='../assets/images/circulo_degradado.png' alt="circuloRosa")
         li.layer
            p FrontEnd
            img.circuloRosa(src='../assets/images/circulo_degradado.png' alt="circuloRosa")
         li.layer
            p BackEnd
            img.circuloRosa(src='../assets/images/circulo_degradado.png' alt="circuloRosa")

   footer#footer.footerMenu
      nav#footerMenu.menuInferior
         ul#menuMovil.menuResponsive
            li
               a(href='./')
                  <i class="fas fa-home" id="iconHome"></i>
            li
               a(href='./profile')
                  <i class="fas fa-user" id="iconUser"></i>
            li
               a(href='./favorites')
                  <i class="fas fa-heart" id="iconFavorites"></i>
            li
               a(href='./logout')
                  <i class="fas fa-sign-out-alt" id="iconLogOut"></i>