doctype html
html
   head
      title HOME
   body
     nav 
      ul 
       a(href="/")
        li   Inicio 
       a(href="login")
        li  Inicia sesión 
       a(href="register") 
        li  Registrate 
     
     form(action='/', method="POST") 
        input(type='email', name='email', placeholder='Introduce tu email', required)
        br
        input(type='password', name='contraseña', required)
        br
        input(type='submit', value='Entrar')