doctype html
html
   head
      title HOME
   body
     nav 
      ul 
       a(href="/")
        li   Inicio 
       a(href="favorites")
        li  Favoritos
       a(href="profile") 
        li  Perfil 
       a(href="/")
        li Cerrar sesión