doctype html
head
   meta(charset='UTF-8')
   meta(http-equiv='X-UA-Compatible' content='IE=edge')
   meta(name='viewport' content='width=device-width, initial-scale=1.0')
   title COD3 (JOBS)
   link(rel='stylesheet' href='../styles/profile.css')
   link(rel='stylesheet' href='../styles/normalize.css')
   link(rel='shortcut icon' href='../assets/images/favicon.png' type='image/x-icon')
   script(src='https://kit.fontawesome.com/f408539d77.js' crossorigin='anonymous')

body#body

   header#header
      a(href='./')
         img#logotipo.logotipoSuperior(src='../assets/images/logotipo_final_black.png' alt='logotipoHome')
      nav#headerMenu.menuPrincipal
         ul#pcMenu.menuPc
            li
               a(href='./home_admin') Inicio
            li
               a(href='./dashboard_admin') Crear o eliminar
            li
               a(href='./profile_admin')#profileColor Tu cuenta
            li
               a(href='./logout') Salir

   div#containUserProfile
      form#yourProfile(action="/profile" method="post")
         h3 Edita y guarda los cambios de tu perfil
         p.information Nombre de administrador:
         input#name.fieldsetOptions(type="text", name="name" placeholder=nombre)
         p.information Correo electrónico:
         input#email.fieldsetOptions(type="email", name="email" placeholder=email)
         p.information Contraseña:
         input#password.fieldsetOptions(type="password", name="password" placeholder=password)
         div#divButtons
            button#cancelButton.profileButtons Cancelar
            input#saveButton.profileButtons(type="submit", value="Guardar")
      
      div#divIllustration
         img#adminImage(src='../assets/images/profile_user_illustration.png' alt='userImg')
 
   footer#footer.footerMenu
      nav#footerMenu.menuInferior
        ul#menuMovil.menuResponsive
            li
               a(href='./')
                  img#iconHome(src='../assets/images/home.png' alt="home")
            li
               a(href='./profile')
                  img#iconUser(src='../assets/images/profile.png' alt="profile")
            li
               a(href='./favorites')
                  img#iconFavorites(src='../assets/images/favorite.png' alt="favorite")
            li
               a(href='./logout')
                  img#iconLogOut(src='../assets/images/logout.png' alt="logout")