doctype html
head
   meta(charset='UTF-8')
   meta(http-equiv='X-UA-Compatible' content='IE=edge')
   meta(name='viewport' content='width=device-width, initial-scale=1.0')
   title COD3 (JOBS)
   link(rel='stylesheet' href='../styles/formulario.css')
   link(rel='stylesheet' href='../styles/normalize.css')
   link(rel='shortcut icon' href='../assets/images/favicon.png' type='image/x-icon')

body#body.formBody
   header#headerImg.headerImg
      a(href='./')
         img.logotipoForm(src='../assets/images/logotipo_final_white.png', alt="logotipo")

   section#sectionLinks.sectionLinks
      a#enlaceFacebook.enlaces(href="https://es-es.facebook.com/") CONTINUAR CON FACEBOOK
      a#enlaceGoogle.enlaces(href="/google") CONTINUAR CON GMAIL
      p.sectionP o


   form#bodyForm.bodyForm(action="/signup" method="post")
      input#name(type="text", name="name" placeholder="Nombre de usuario")
      input#email(type="email", name="email" placeholder="Correo electrónico")
      input#password(type="password", name="password" placeholder="Contraseña")
      input.sendForm(type="submit", value="Registrarse")
      
   footer#footerLink.footerLink
      a.link(href="./login") ¿Ya tienes cuenta en COD3 (JOBS)?
