doctype html
html
   head
      title HOME
   body
     nav 
      ul 
       a(href="/")
        li   Inicio 
       a(href="users")
        li  Usuarios
       a(href="dashboard") 
        li  Crear y visualizar
       a(href="/")
        li Cerrar sesión 