@font-face {
    font-family: 'outfit';
    src: url('../assets/fonts/Outfit-VariableFont_wght.ttf');
}
/****************** BODY ******************/
#body{
    width: 100%;
    height: 100%;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    background-color: #F7F8F9;
}
/****************** LOADING GIF ******************/
#gif{
    background-color: #1B1C1E;
    min-height: 100vh;
    padding: 0;
    display: none; /* Cambiar a flex para verlo */
    justify-content: center;
    align-items: center;
}
#loadingId{
    max-width: 50vw;
}
/****************** HEADER ******************/

#header{
    margin: 50px 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
}
.logotipoSuperior{
    width: 450px;
}
.menuPrincipal{
    font-family: 'outfit';
    font-size: 30px;
    justify-content: right;
}
.menuPrincipal a{
    clear: right;
    margin: 3vh;
    text-decoration: none;
    color: #1B1C1E;
}
#profileColor{
    color: #29C4F8;
    font-weight: bold;
}
.menuPrincipal a:hover{
    font-weight: bold;
}
ul {
    display: flex;
    justify-content: center;
    padding-inline-start: 0px;
}
.menuPrincipal ul li{
    list-style: none;
    display: inline;
}

/****************** SECTION YOUR PROFILE ******************/

#containUserProfile{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#yourProfile{
    width: 500px;
    height: auto;
    min-height: 600px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#yourProfile h3{
    font-family: 'outfit';
    font-size: 26px;
    font-weight: bold;
    width: 300px;
    text-align: center;
    margin: 12px;
}

.fieldsetOptions{
    width: 280px;
    height: 40px;
    margin: 12px;
    border-radius: 12px;
    border: 2px solid #1B1C1E;
    text-align: center;
}

.information{
    margin-bottom: 0;
    text-align: left;
    font-family: 'outfit';
}

#divButtons{
    display: flex;
    flex-wrap: nowrap;
    margin: 12px;
}

.profileButtons{
    border-radius: 8px;
    cursor: pointer;
    width: 88px;
}

#cancelButton{
    color: #1B1C1E;
    background: transparent;
    border: 2px solid #ffc954;
    border-radius: 6px;
    margin-right: 50px;
    font-family: 'outfit';
    font-size: 16px;
    padding: 8px;
}

#cancelButton:hover{
    color: #F7F8F9;
    background: #ffc954;
}

#saveButton{
    color: #1B1C1E;
    background: transparent;
    border: 2px solid #97a33d;
    border-radius: 6px;
    margin-left: 50px;
    font-family: 'outfit';
    font-size: 16px;
    padding: 8px;
}

#saveButton:hover{
    color: #F7F8F9;
    background: #97a33d;
}

#userImage{
    width: 500px;
}

/****************** FOOTER ******************/

nav.menuInferior{
    display: none;
}

@media screen and (max-width: 1330px) {
    #header{
        display: flex;
        justify-content: center;
    }
    nav.menuInferior{
      display: flex;
      justify-content: center;
    }
    nav.menuPrincipal{
        display: none; 
    }
}

.footerMenu{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #1B1C1E;
}

.menuInferior{
    list-style: none;
    font-size: 16px;
    font-family: 'outfit';
}

ul {
    display: flex;
    justify-content: center;
}

.menuInferior ul li{
    display: inline;
}

.menuResponsive{
    justify-content: center;
}

.menuResponsive li a{
    text-decoration: none;
    padding: 24px 40px;
    color: #F7F8F9;
}

.menuResponsive li a img{
    width: 30px;
}

/****************** FOOTER ICONS ******************/

#iconHome{
    color: #F7F8F9;
}

#iconHome:hover{
    color: #29C4F8;
}

#iconUser{
    color: #29C4F8;
}

#iconUser:hover{
    color: #29C4F8;
}

#iconFavorites{
    color: #F7F8F9;
}

#iconFavorites:hover{
    color: #29C4F8;
}

#iconLogOut{
    color: #F7F8F9;
}

#iconLogOut:hover{
    color: #29C4F8;
}