/****************** BODY ******************/

#body{
    min-height: 100vh;
    padding: 0;
    background-color: #1B1C1E;
}

/****************** LOADING GIF ******************/

#gif{
    min-height: 100vh;
    padding: 0;
    display: flex; /* Cambiar a flex para verlo */
    justify-content: center;
    align-items: center;
}

#loadingId{
    max-width: 50vw;
}
